* {
  box-sizing: border-box;
}
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Tajawal', sans-serif;
  background-color: #afc9dc;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 700px;
  margin: 50px auto 30px;
  transition: 0.3s;
  text-align: center;
}
@media (max-width:767px) {
  .container {
    width: 400px;
    margin: 50px auto ;
    padding: 0 10px 0 5px;
  }
}

.main-head {
  text-align: center;
  font-size: 30px;
  color: #00539cff;
  position: relative;
}
.main-head::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: #58f058bf;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

form {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}
@media (max-width:767px) {
  form {
    padding: 15px;
  }
}
.title {
  font-size: 18px;
  display: block;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #00539cff;
  font-weight: bold;
}

form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #00539cff;
  font-family: 'Tajawal', sans-serif;
}
form input[type="text"] {
  flex-grow: 1;
  margin-right: 5px;
}
form input[type="text"]:focus {
  outline: none;
}
form input[type="button"] {
  background-color: #eea47fff;
  color: #00539cff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
form input[type="button"]:hover {
  background-color:#00539cff ;
  color: #eea47fff;
}

/* Start JavaScript Component */

.tasks {
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
}
@media (max-width:767px) {
  .tasks {
    padding: 15px;
  }
}

.task {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  font-size: 18px;
  overflow: hidden;
}

@media (max-width:767px) {
  .task {
    padding: 10px;
    font-size: 16px;
  }
}

.task:not(:last-child){
  margin-bottom: 15px;
}

.done {
  background-color: #58f058bf;
}
.text-dec {
  text-decoration: line-through;
  opacity: 0.6;
}
.date {
  font-size: 15px;
  margin-right: 10px;
}
.dateDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media (max-width:767px) {
  .date {
    font-size: 13px;
  }
}


.checkList {
  background-color: #58f058;
  color: black;
}

.newBtn {
  background-color:red;
  color: white;
}

.checkList,
.newBtn {
  border-radius: 6px;
  border: 1px solid #00539cff;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}



/* Start Featuers */
.head {
  position: relative;
  margin-bottom: 30px;
  margin-top: 50px;
}
.head::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00539cff;
}
.head::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #58f058;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #00539cff;
}
.ul-container {
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 0 5px 8px #ccc;
  margin-bottom: 40px;
  padding: 10px;
}
.arabic-ul {
  list-style:disc;
  direction: rtl;
  list-style-position: inside;
  position: relative;
  margin-bottom: 30px;
  line-height: 1.5;
}

.arabic-ul::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  background-color: #eee;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);

}
ul:nth-child(2) {
  list-style:disc;
  list-style-position: inside;
}

.footer ul {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px
}
.footer ul li img {
  width: 40px;
}
.dev {
  font-size: 18px;
}
.dev span {
  font-weight: bold;
  color: #00539cff;
}
.source {
  font-weight: bold;
  color: #00539cff;
  background-color: #ccc;
  padding: 10px;
  border-radius: 10px;
}
/* End Featuers */



/* Start Popup */
.model {
  width: 450px;
  border: 1px solid black;
  border-radius: 6px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  transition: 0.5s;
  background-color: #58f058;
  z-index: 2;
  opacity: 0;
}
@media (max-width:767px) {
  .model {
    width: 300px;
  }
}
.model .del {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #00539cff;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  right: 15px;
  top: 10px;
  direction: rtl;
}
.model img {
  width: 64px;
}
.model form {
  padding: 0;
  margin:  20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #58f058;
  align-items: center;
  justify-content: center;
}
.model form input[type="text"] {
  width: 320px;
  padding: 10px;
  margin-right: 0;
}
@media (max-width:767px) {
  .model form input[type="text"] {
    width: 230px;
  }
}
.model form input[type="button"]{
  width: 100px;
}

.welcome {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  padding: 0 35px 0;
}

.toAppend {
  color: #00539cff;
  font-weight: bold;
}
/* End Popup */


/* Start Counters */
.counters{
  margin-top: 20px;
  display: flex;
  direction: rtl;
  justify-content: space-around;
}
/* End counters */


/* Start clearbtn */
.clearBtn {
  margin-top: 30px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: red;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Tajawal', sans-serif;
  transition: 0.3s;
}

.clearBtn:hover {
  background-color: rgba(255, 0, 0, 0.468);
}
/* End clearbtn */